.app {
  display: grid;
  grid-template: 10% 1fr / 1fr;
  grid-template-areas:
    "header"
    "page";
  text-align: center;
  height: 100vh;
  background-color: whitesmoke;
}

.page {
  grid-area: page;
  display: grid;
  grid-template: 20% 20% 1fr 1fr / 1fr;
  grid-template-areas:
    "desc"
    "nav"
    "article-list"
    "article-list";
  text-align: center;
  background-color: whitesmoke;
  height: 90vh;
}

.app-header {
  grid-area: header;
  background-color: #232a39;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5vw;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.article-list {
  grid-area: article-list;
  overflow-y: scroll;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.description {
  grid-area: desc;
  box-shadow: 1px 1px 5px;
  border-radius: 10px;
  margin: 1% 2%;
  background-color: white;
}

.nav-area {
  grid-area: nav;
  box-shadow: 1px 1px 5px;
  border-radius: 10px;
  margin: 1% 2%;
  background-color: white;
}

.article-card {
  display: grid;
  grid-template: 25% 1fr 25% / 20% 2fr 20%;
  grid-template-areas:
    "card-topic    card-title card-author"
    ".             card-title card-date"
    "card-comments card-title card-votes";
  background-color: white;
  min-height: 100px;
  margin: 2%;
  padding: 1% 1%;
  box-shadow: 1px 1px 5px;
  border-radius: 10px;
  overflow: auto;
}

#card-topic {
  padding: 1%;
  font-size: 0.8em;
  grid-area: card-topic;
}

#card-author {
  padding: 1%;
  font-size: 0.8em;
  grid-area: card-author;
}

#card-title {
  grid-area: card-title;
  font-size: 1em;
  font-weight: bold;
  align-self: center;
}

#card-title a {
  text-decoration: none;
  color: black;
}

#card-comments {
  padding: 1% 0;
  font-size: 0.8em;
  grid-area: card-comments;
}

#card-votes {
  padding: 1%;
  font-size: 0.8em;
  grid-area: card-votes;
}

#card-date {
  display: flex;
  align-items: center;
  padding: 1%;
  font-size: 0.7em;
  grid-area: card-date;
}

.topics {
  display: flex;
}

.topics h3 {
  display: flex;
  width: 20%;
  justify-self: flex-start;
  padding: 0 5% 0 0;
  margin: 0 0 0 2%;
}

.topics ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 0;
}

.topic-list a {
  padding: 2%;
  margin-left: 10%;
}

.sort-options {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3%;
}

.article-body {
  justify-self: normal;
  border-radius: 10px;
  background-color: white;
  grid-row: span 2;
  overflow: auto;
}

.article-details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-shadow: 1px 1px 5px;
  border-radius: 10px;
  margin: 1% 2% 0;
  background-color: white;
  overflow-y: hidden;
}

.article-details button {
  display: inline;
}

.article-details a {
  text-decoration: underline;
  color: black;
}

.article-comments {
  overflow: scroll;
  list-style-type: none;
}

.article-comments ul {
  list-style-type: none;
  margin: 1% 0;
  padding: 0;
}

.comment-card {
  display: grid;
  grid-template-rows: 20% 1fr 20%;
  min-height: 100px;
  margin: 2%;
  padding: 1% 1%;
  box-shadow: 1px 1px 5px;
  border-radius: 10px;
  overflow: auto;
  background-color: white;
}

.comment-card p {
  margin: 0;
  font-size: 75%;
}

#comment-title {
  font-style: italic;
}

@media only screen and (min-width: 768px) {
  .app {
    display: grid;
    grid-template: 10% 1fr / 1fr;
    grid-template-areas:
      "header"
      "page";
    text-align: center;
    height: 100vh;
  }

  .page {
    grid-area: page;
    display: grid;
    grid-template: 40% 60% / 2fr 1fr;
    grid-template-areas:
      "article-list desc"
      "article-list nav";
    text-align: center;
  }

  #card-topic {
    font-size: 1.5vw;
    grid-area: card-topic;
  }

  #card-author {
    font-size: 1.5vw;
    grid-area: card-author;
  }

  #card-title {
    grid-area: card-title;
    font-size: 2.5vw;
    font-weight: bold;
    align-self: center;
  }

  #card-comments {
    font-size: 1.5vw;
    grid-area: card-comments;
  }

  #card-votes {
    font-size: 1.5vw;
    grid-area: card-votes;
  }

  #card-date {
    font-size: 1.3vw;
    grid-area: card-date;
  }

  .topic-list {
    flex-direction: column;
  }

  .sort-options {
    margin: 5% 0 20%;
  }

  .topics h3 {
    padding: 0 25% 0 0;
  }

  .topic-list li {
    margin: 5% 0;
  }

  .article-body {
    grid-row: span 2;
  }

  .article-details {
    display: block;
  }
}
