.app {
  display: grid;
  grid-template: 10% 1fr / 1fr;
  grid-template-areas:
    "header"
    "page";
  text-align: center;
  height: 100vh;
  background-color: whitesmoke;
}

.page {
  grid-area: page;
  display: grid;
  grid-template: 15% 25% 1fr 1fr / 1fr;
  grid-template-areas:
    "desc"
    "nav"
    "article-list"
    "article-list";
  text-align: center;
  background-color: whitesmoke;
  height: 90vh;
}

.app-header {
  grid-area: header;
  background-color: #232a39;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8vw;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.article-list {
  grid-area: article-list;
  overflow-y: scroll;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.description {
  grid-area: desc;
  box-shadow: 1px 1px 5px;
  border-radius: 10px;
  margin: 1% 2%;
  background-color: white;
  overflow-y: auto;
  padding: 0;
}

.description h3 {
  margin: 0;
}

.nav-area {
  grid-area: nav;
  display: grid;
  grid-template-rows: 37% 35% 28%;
  box-shadow: 1px 1px 5px;
  border-radius: 10px;
  margin: 1% 2%;
  background-color: white;
  overflow: auto;
}

.login {
  vertical-align: center;
}

.login p {
  margin: 0;
}

.article-card {
  display: grid;
  grid-template: 25% 1fr 25% / 20% 2fr 20%;
  grid-template-areas:
    "card-author  card-title card-topic"
    "card-comments   card-title card-date"
    "card-votes card-title card-date";
  background-color: white;
  min-height: 100px;
  margin: 2%;
  padding: 1% 1%;
  box-shadow: 1px 1px 5px;
  border-radius: 10px;
  overflow: auto;
}

#card-topic {
  padding: 1%;
  font-size: 0.8em;
  grid-area: card-topic;
}

#card-author {
  font-size: 0.8em;
  grid-area: card-author;
}

#card-title {
  grid-area: card-title;
  font-size: 1em;
  font-weight: bold;
  align-self: center;
}

#card-title a {
  text-decoration: none;
  color: black;
}

#card-comments {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  grid-area: card-comments;
}

#card-votes {
  padding: 1%;
  font-size: 0.8em;
  grid-area: card-votes;
}

#card-date {
  display: flex;
  align-items: center;
  padding: 1%;
  font-size: 0.8em;
  grid-area: card-date;
}

.topics {
  display: flex;
}

.topics h3 {
  display: flex;
  width: 20%;
  justify-self: flex-start;
  padding: 0 5% 0 0;
  margin: 0 0 0 2%;
}

.topics ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.topic-list a {
  padding: 2%;
  margin-left: 10%;
  text-align: center;
}

.sort-options {
  display: flex;
  justify-content: space-around;
  padding: 1%;
}

.article-body {
  justify-self: normal;
  background-color: white;
  grid-row: span 2;
  overflow: auto;
  margin: 0;
}

.article-details {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  grid-template-areas: "login details";
  box-shadow: 1px 1px 5px;
  border-radius: 10px;
  margin: 1% 2% 0;
  background-color: white;
  overflow: auto;
  font-size: 90%;
  padding: 1%;
}

.article-details .login {
  grid-area: login;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.article-details .article-info {
  grid-area: details;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.article-details .article-info p {
  margin: 2% 0;
}

.article-details .login p {
  margin: 0 auto;
}

.article-details button {
  display: inline;
}

.article-details a {
  text-decoration: underline;
  color: black;
}

.comment-form {
  display: flex;
  justify-content: center;
  margin: 2%;
  padding-bottom: 1%;
  border: 1px solid black;
  overflow: auto;
  background-color: whitesmoke;
  height: fit-content;
}

.comment-form label {
  display: flex;
  padding: 1%;
}

#comment-text {
  height: 100%;
  width: 100%;
  outline: none;
}

.article-comments {
  overflow: scroll;
  list-style-type: none;
}

.article-comments ul {
  list-style-type: none;
  margin: 1% 0;
  padding: 0;
}

.comment-card {
  display: grid;
  grid-template-rows: 20% 1fr 20%;
  min-height: 100px;
  margin: 2%;
  padding: 1% 1%;
  box-shadow: 1px 1px 5px;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
}

.comment-card p {
  margin: 0;
  font-size: 75%;
}

#comment-title {
  font-style: italic;
}

#comment-body {
  overflow: auto;
}

#comment-body::-webkit-scrollbar {
  display: none;
}

.err-msg {
  font-size: xx-large;
  justify-self: flex-end;
}

.loading-msg {
  font-size: large;
  justify-self: center;
}

@media only screen and (min-width: 768px) {
  .app {
    display: grid;
    grid-template: 10% 1fr / 1fr;
    grid-template-areas:
      "header"
      "page";
    text-align: center;
    height: 100vh;
  }

  .page {
    grid-area: page;
    display: grid;
    grid-template: 35% 65% / 2fr 1fr;
    grid-template-areas:
      "article-list desc"
      "article-list nav";
    text-align: center;
  }

  .app-header {
    font-size: 5.5vw;
  }

  .login {
    padding-top: 10%;
  }

  .login p {
    padding-bottom: 5%;
  }

  #card-topic {
    font-size: 1.5vw;
    grid-area: card-topic;
  }

  #card-author {
    font-size: 1.5vw;
    grid-area: card-author;
  }

  #card-title {
    grid-area: card-title;
    font-size: 2.5vw;
    font-weight: bold;
    align-self: center;
  }

  #card-comments {
    font-size: 1.5vw;
    grid-area: card-comments;
  }

  #card-votes {
    font-size: 1.5vw;
    grid-area: card-votes;
  }

  #card-date {
    font-size: 1.3vw;
    grid-area: card-date;
  }

  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .topic-list {
    flex-direction: column;
  }

  .sort-options {
    margin: 5% 0;
  }

  .topics {
    margin-top: 10%;
  }

  .topics h3 {
    padding: 0 25% 0 0;
  }

  .topic-list li {
    margin: 5% 0;
  }

  .article-body {
    grid-row: span 2;
  }

  .article-details .article-info p {
    margin: 4% auto;
  }

  .article-details .login button {
    margin: 5%;
  }

  .loading-msg {
    justify-self: flex-end;
  }
}
